* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(37, 40, 42, 0.86);
}

input {
  display: contents;
}


.calendar {
  box-shadow: 0 0 12px #cccccc;

  &__header {
    background: aquamarine;

    &-title {
      display: flex;
      justify-content: center;
      justify-items: center;
      color: #dbeaf1;
      font-family: "Comic Sans MS";
      font-size: 60px;
    }

    &-day {
      display: flex;
      justify-content: space-between;
      color: #dbeaf1;
      font-family: "Comic Sans MS";
      font-size: 25px;
      padding: 10px 25px;
    }
  }

  &__day-name {
    padding: 0 25px;
  }

  &__main {
    background: #e9f8ff;
  }

  &__day-number {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 0 20px;


    label {
      padding: 20px;
      cursor: pointer;
    }

  }

}

