* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #343434;
}

input {
  display: contents;
  visibility: hidden;
}

label {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 4;
}

.calendar {
  box-shadow: 0 0 12px #cccccc;

  &__header {
    background-color: #1e6a85;

    &-title {
      display: flex;
      justify-content: center;
      justify-items: center;
      color: #dbeaf1;
      font-family: "Comic Sans MS";
      font-size: 60px;
    }

    &-day {
      display: flex;
      justify-content: space-between;
      color: #dbeaf1;
      font-family: "Comic Sans MS";
      font-size: 25px;
      padding: 15px;
    }
  }

  &-main {
    background: #e9f8ff;

    &__day-number {
      display: flex;
      justify-content: space-between;
      justify-items: center;
    }

    &__another-Month {
      background-color: #acbac1;
      cursor: not-allowed;
    }

    &__holiday {
      background-color: #ff2505;
      cursor: pointer;
    }

    &__off, &__holiday {
      cursor: pointer;

      &:hover {
        background-color: #ff5f5f;
        color: #cccccc;
      }

      &:focus {
        color: #cccccc;
        background-color: #082185;
      }
    }

    &__this-Month {
      cursor: pointer;

      &:hover {
        color: #cccccc;
        background-color: #1EA8D2;
      }

      &:focus {
        color: #cccccc;
        background-color: #082185;
      }
    }
  }
}

