* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrappen {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;

}